body, html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('awfulthings.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#font-title {
    font-family: "Lobster", serif;
}

.lyrics {
    font-style: italic;
    color: rgb(255, 179, 255);
    font-size: 18px;
}


h1 {
    color: rgb(255, 230, 255);
}
