#font-title {
    font-family: lobster;
}

.lyrics {
    font-style: italic;
    color: rgb(255, 179, 255);
    font-size: 18px;
}

body {
    background-image: url('awfulthings.gif'),
    url('awfulthings.gif');
    background-size: cover;

}

h1 {
    color: rgb(255, 230, 255);
}
